<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/brand.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/master.css">
    <link rel="stylesheet" href="static/navstyle.css">
    <title>Piyush Mishra - Portfolio</title>
  </head>
  <body >  
    <div>


    <nav class="navbar navpos navbar-expand-lg navbar-dark bg-set" id="navbar">
  <img src="static/brandimg.png" height="50px" width="80px">&nbsp;&nbsp;
  <a class="navbar-brand navfont" href="#">PIYUSH MISHRA</a>
  <button class="navbar-toggler navbar-toggler-right navbutton" type="button" data-toggle="modal" data-backdrop="false" data-target="#sidenav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" id="homepage">
              <a class="nav-link" >Home</a>
            </li>
            <li class="nav-item" id="aboutus">
              <a class="nav-link" >About Me</a>
            </li>
            <li class="nav-item" id="services">
              <a class="nav-link" >My Work</a>
            </li>
            <li class="nav-item" id="contact">
              <a class="nav-link">Get in Touch</a>
            </li>
    </ul>
  </div></nav>

  <div class="sidenav bg-faded p-4" id="sidenav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#" data-toggle="modal" data-backdrop="false" data-target="#sidenav"><i class="fa fa-window-close" style="font-size:24px ; color:white;"></i></a>
        </li>
        <li class="nav-item active" id="homepage1">
              <a class="nav-link" >Home</a>
            </li>
            <li class="nav-item" id="aboutus1">
              <a class="nav-link" >About Me</a>
            </li>
            <li class="nav-item" id="services1">
              <a class="nav-link" >My Work</a>
            </li>
            <li class="nav-item" id="contact1">
              <a class="nav-link">Get in Touch</a>
            </li>
      </ul>
    </div>
      <div class="homepage">
        <div class="text-*-center" id="center">
          <h1>Piyush Mishra</h1>
          <span id = "staticText" >I am <span id="typeline"></span></span>
        </div>
        <div class ="text-centered1">
            <div class="row">
              <div class="col-xs-2">
                <a href="https://www.facebook.com/piyush.mishra.3154?ref=br_rs" target="_blank"><img src="static/fb.png" style="width:50px;height:50px"></a>
              </div>
              <div class="col-xs-2">
                <a href="https://twitter.com/PiyushM3108" target="_blank"><img src="static/twitter.png" style="width:50px;height:50px"></a>
              </div>
              <div class="col-xs-2">
                <a href="https://www.instagram.com/piyush_mishra.kh.3108/?hl=en" target="_blank"><img src="static/instagram.gif" style="width:50px;height:50px"></a>
              </div>
              <div class="col-xs-2">
                <a href="https://github.com/PiyushMishra318" target="_blank"><img src="static/github.png" style="width:50px;height:50px"></a>
              </div>
            </div>
        </div>
      </div>
      <div class="About Me" id="section2">
        <div class="jumbotron text-center">
          <h1>About Me</h1>
          <br><br>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
              <img src="static/myimage.jpg" style="height:440px;width:320px">
            </div>
            <div class="col-sm-12 col-md-6 col-xs-12 col-lg-6 text-left">
              <br>
              <br>
              <h5>Hello, I am Piyush Mishra and I am currently pursuing Bachelor of Technology(B.TECH) in Computer Science and Engineering(CSE).</h5>
              <p>
                I am currently living in Greater Noida. While I'm a proficient full-stack developer, my interests are in building scalable backend services.
                My technical expertise includes fluency in C, C++, Java and Python.
                I have also created a couple of projects on Django Web-Framework.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container1" id="section3">
        <div class="text-center" style="color:white;">
          <h1>My Work</h1>
        </div>
        </div>
        <div class="container">
			  <div class="box">
			    <div class="widget">
			      <a href="http://www.rkintl.in" target="_blank"><div class="text-1">
              <p>RK-International</p>
			        <p>Industrial Website</p>
			      </div></a>
			      <div class="text-2">
			        <p>Space Shooter</p>
			        <p>HTML(CANVAS)-Javascript Game</p>
			      </div>
			      <div class="text-3">
			        <p>Django-Blog(github)</p>
			        <p>A Simple Blog(no-frontend yet)</p>
			      </div>
			      <div class="text-4">
			        <p>Search App</p>
			        <p>A Profile-Search App</p>
			      </div>
			    </div>
			  </div>
			</div>
      <div class="contactform">
        <div class="form-block">
          <h1 style="text-align:center">Contact Form</h1>
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
                  <div class="form-group" >
                      <input type="text" name="name" style="background: rgba(255, 255, 255, 0.5);" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                    </div>
                  <div class="form-group">
                    <input type="email" name="email" style="background: rgba(255, 255, 255, 0.5);" class="form-control" aria-describedby="emailHelp" placeholder="Email">
                  </div>
                  <div class="form-group" >
                    <input type="text" name="subject" style="background: rgba(255, 255, 255, 0.5);" class="form-control" placeholder="Subject">
                  </div>
                </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <textarea name="message"  style="width:345px;height:132px;background: rgba(255, 255, 255, 0.5);" placeholder="Your Message here...."></textarea><br>
                      <button type="submit" class="btn btn-secondary">Send</button>
                    </div>
                  </div>
              </div>
            </form>
        </div>
      </div>
      <div class='scrolltop'>
        <div class='scroll icon'>
          <img src="static/scroll.png" height="50px" width="50px">
        </div>
      </div>
    </div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
